@font-face {
    font-family: "iconfont";
    /* Project id 3965243 */
    src: url('//at.alicdn.com/t/c/font_3965243_pc1ja0oalml.woff2?t=1681554573817') format('woff2'),
        url('//at.alicdn.com/t/c/font_3965243_pc1ja0oalml.woff?t=1681554573817') format('woff'),
        url('//at.alicdn.com/t/c/font_3965243_pc1ja0oalml.ttf?t=1681554573817') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zitijiacu:before {
    content: "\ec83";
}

.icon-fontsize:before {
    content: "\e7a1";
}

.icon-delete:before {
    content: "\e67e";
}

.icon-text-overflow:before {
    content: "\e650";
}

.icon-box:before {
    content: "\e6cb";
}

.icon-24gf-percent:before {
    content: "\e891";
}

.icon-pixels:before {
    content: "\e6ed";
}

.icon-height:before {
    content: "\e7ef";
}

.icon-width:before {
    content: "\e7fc";
}

.icon-resize:before {
    content: "\e890";
}

.icon-line-solid:before {
    content: "\ecc1";
}

.icon-line-dashed:before {
    content: "\eccb";
}

.icon-line-double:before {
    content: "\eccc";
}

.icon-line-dotted:before {
    content: "\eccd";
}

.icon-line-none:before {
    content: "\ecce";
}

.icon-color:before {
    content: "\e94b";
}

.icon-radius:before {
    content: "\e7cc";
}

.icon-left-circle:before {
    content: "\e77f";
}

.icon-down-circle:before {
    content: "\e780";
}

.icon-right-circle:before {
    content: "\e783";
}

.icon-up-circle:before {
    content: "\e785";
}

.icon-kuozhanshuxing:before {
    content: "\e690";
}

.icon-margin:before {
    content: "\e902";
}

.icon-padding:before {
    content: "\e91b";
}

.icon-border:before {
    content: "\e7a9";
}

.icon-border-top:before {
    content: "\e7aa";
}

.icon-border-bottom:before {
    content: "\e7ab";
}

.icon-border-left:before {
    content: "\e7ac";
}

.icon-border-right:before {
    content: "\e7ad";
}

.icon-radius-bottomleft:before {
    content: "\e7ae";
}

.icon-radius-bottomright:before {
    content: "\e7af";
}

.icon-radius-upleft:before {
    content: "\e7b0";
}

.icon-radius-upright:before {
    content: "\e7b1";
}

.icon-jichu:before {
    content: "\e60e";
}